<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://seniorcenter:seniorcenter123@128.205.237.131:27017" providerName="PSC" />    
  </connectionStrings>

  <appSettings>
    <!-- Windows event log identifier -->
    <add key="EventLog" value="PII"/>
    <!-- Mongo DB PII table name -->
    <add key="TableName" value="PII"/>
    <!-- Mongo DB Accessible websites table name -->
    <add key="Websites" value="Websites"/>
    <!-- Administrator name -->
    <add key="Administrator" value="Aravind"/>
    <!-- Site checker threshold -->
    <add key="SiteCheckerThreshold" value="1"/>
    <!-- Flag whether to display the PII data or not -->
    <add key="DisplayPII" value="false"/>
  </appSettings>

  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>



  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
