<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The time after which the system has to notify user about volunteering -->
    <add key="ThresholdTime" value ="5000"/>

    <!-- The time after which the system sleeps before checking for system idle time -->
    <add key="NotifierPollTime" value ="1000"/>

    <!-- Windows event log identifier -->
    <add key="EventLog" value ="ProjectSeniorCenter"/>
    
    
  </appSettings>
    

  

  
  
 
  
  
</configuration>