<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://####################:27017" providerName="Testing" />    
  </connectionStrings>

  <appSettings>
    <!-- Windows event log identifier -->
    <add key="EventLog" value ="PII"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>



  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
